<%- include('./partials/header.ejs') %>

<body>
<%- include('./partials/banner.ejs') %> 
<%- include('./partials/nav-manager.ejs') %>

<div class="sales container mt-16">
	<!-- Grid container for the sales section -->
	<div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-10">
	
	<!-- Title row that spans full width on medium screens and above -->
	<div class="col-span-1 md:col-span-2 flex justify-center md:justify-start">
		<h2 class="text-3xl font-semibold -mb-6">Sales</h2>
	</div>

      <!-- Best Selling Table -->
      <div class="bg-white shadow rounded-lg overflow-hidden">
        <table class="table-auto w-full">
          <thead class="bg-primary">
            <tr>
              <th colspan="2" class="text-white text-3xl p-4">Best Selling</th>
            </tr>
          </thead>
          <tbody class="text-center text-xl text-gray-700">
            <% bestSellingProducts.forEach(function(product) { %>
              <tr>
                <td class="px-4 py-2 border-b border-gray-200"><%= product.Name %></td>
                <td class="px-4 py-2 border-b border-gray-200"><%= product.TotalSales %> Sales</td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>

      <!-- New Customers Table -->
      <div class="bg-white shadow rounded-lg overflow-hidden">
        <table class="w-full">
          <thead class="bg-primary">
            <tr>
              <th class="text-white text-3xl p-4">New Customers</th>
            </tr>
          </thead>
          <tbody class="text-center text-5xl text-gray-700">
            <tr>
              <td class="py-10"><%= newCustomers %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Revenue Table -->
      <div class="bg-white shadow rounded-lg overflow-hidden">
        <table class="w-full">
          <thead class="bg-primary">
            <tr>
              <th class="text-white text-3xl p-4">Revenue</th>
            </tr>
          </thead>
          <tbody class="text-center text-5xl text-gray-700">
            <tr>
              <td class="py-10">£<%= revenue %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Total Orders Table -->
      <div class="bg-white shadow rounded-lg overflow-hidden">
        <table class="w-full">
          <thead class="bg-primary">
            <tr>
              <th class="text-white text-3xl p-4">Total Orders</th>
            </tr>
          </thead>
          <tbody class="text-center text-5xl text-gray-700">
            <tr>
              <td class="py-10"><%= totalOrders %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    
   <!-- Employee Performance Table -->
   <div class="employee-performance-container mt-20">
    <div class="container mx-auto flex justify-between items-center pb-4">
      <span class="text-5xl font-medium">Employee Performance</span>
      <select class="p-2 rounded-lg border border-gray-300" id="sort-select">
        <option value="alphabetical" selected>Sort Alphabetically</option>
        <option value="numberOfOrders">Sort by No. of Orders</option>
        <option value="revenue">Sort by Revenue</option>
      </select>
    </div>
    <div class="container mx-auto">
      <div class="overflow-hidden shadow-lg rounded-lg">
        <table class="w-full table-fixed" id="employee-performance-table">
          <thead class="bg-primary uppercase">
            <tr>
              <th class="text-white text-xl text-center p-4 w-1/3">Employee</th>
              <th class="text-white text-xl text-center p-4 w-1/3">No. of Orders</th>
              <th class="text-white text-xl text-center p-4 w-1/3">Revenue</th>
            </tr>
          </thead>
          <tbody class="text-gray-700">
            <% employeePerformance.forEach(function(employee) { %>
              <tr>
                <td class="border-b border-gray-200 text-lg text-center p-4"><%= employee.Name %></td>
                <td class="border-b border-gray-200 text-lg text-center p-4"><%= employee.NumberOfOrders %></td>
                <td class="border-b border-gray-200 text-lg text-center p-4">£<%= employee.Revenue %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const selectElement = document.getElementById('sort-select');
    selectElement.addEventListener('change', sortTable);

    function sortTable() {
      const sortValue = selectElement.value;
      const table = document.getElementById('employee-performance-table');
      const tbody = table.getElementsByTagName('tbody')[0];
      let rows = Array.from(tbody.getElementsByTagName('tr'));

      if (sortValue === 'numberOfOrders') {
        // Sort by number of orders
        rows.sort((a, b) => parseInt(b.cells[1].textContent) - parseInt(a.cells[1].textContent));
      } else if (sortValue === 'revenue') {
        // Sort by revenue
        rows.sort((a, b) => parseFloat(b.cells[2].textContent.replace(/[£,]/g, '')) - parseFloat(a.cells[2].textContent.replace(/[£,]/g, '')));
      } else {
        // Sort alphabetically by name
        rows.sort((a, b) => a.cells[0].textContent.localeCompare(b.cells[0].textContent));
      }

      // Clear the table body and re-insert the rows
      tbody.innerHTML = '';
      rows.forEach(row => tbody.appendChild(row));
    }

    // Perform the default alphabetical sorting
    selectElement.value = 'alphabetical';
    sortTable();
  });
</script>

<%- include('./partials/footer.ejs') %>
</body>
